html{
    background-color: #12E3FF;
    margin-left: 0px;
    padding: 0px;
    color: white;
}

body{
    margin: 10px;
    padding: 0px;
    font-family: cursive;
}

h3{
    color:#B24F02;
    border-style: none none dotted none;
    border-color: white;
    border-width: 5px
}

header{
    color:#B24F02;
}

h1{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.sidemenu{
    position: fixed;
    top: 200px;
    left: -10px;
    background: #FF903B;
    width: 200px;
    height: 200px;
    border-width: 10px;
    border-color: white;
    border-style: solid;
    font-family: cursive;
    border-radius: 0px 100px 10px 0px;
    transition: all 1s ease-in-out;
}

.sidemenu:hover{
    /*transform: rotate(360deg);*/
}

.sidemenuheader{
    width: 120px;
    position:relative;
    background: #8B4513;
    text-align: center;
    padding: 10px;
    border-radius: 0px 100px 0px 0px;
    color: white;
}

.maincontainer{
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    border-width: 10px;
    border-color: white;
    border-style: solid;
}

.mainheader{
    background: #FF903B;
    border-radius: 100px 100px 10px 10px;
    padding: 0px 30px;  
    text-shadow: 2px 2px 2px #000000;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: cursive;
    text-align: center;
}

.maincontent{
    margin-top: 10px;
    background-color: #F0E68C;
    background: #FF903B;
    border-radius: 10px;
    padding: 30px;  
}

nav{
    background-color: #F0E68C;
    background: #8B4513;
    border-radius: 20px;
    padding: 10px 30px;  
    word-spacing: 20px; 
}

table{
    border-color: white;
    border-width: 5px;
    border-style: none;
    border-radius: 14px 14px 14px 14px;
    padding: 3px;
    width: 50%;
}

td, th{
    border: none;
}

th{
    background-color:#B24F02; 
    border-radius: 10px 10px;
    padding: 2px 20px;
    margin: 10px;
}

a{
    transition: all 0.2s ease-in-out;
}

nav a:link{
    color:#ffffff;
}

nav a:visited{
    color:#ffffff;
}

nav a:hover{
    color:#aaaaaa;
}

a:link{
    color:black;
}

a:visited{
    color:black;
}

a:hover{
    color:white;
}

h3:target{
    /*background-color: blue;*/
}

p{
    color:white;
}

footer{
    font-size: 13px;
    margin: 10px;
    color: #B8860B;
    color: linear-gradient(white, #F0E68C 50%, #B8860B); 
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}